In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [12]:
from sklearn.utils import shuffle
data = shuffle(data)
data.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
7             5.0          3.4           1.5          0.2      Setosa
129           7.2          3.0           5.8          1.6   Virginica
26            5.0          3.4           1.6          0.4      Setosa
124           6.7          3.3           5.7          2.1   Virginica
72            6.3          2.5           4.9          1.5  Versicolor

In [13]:
from sklearn.utils import shuffle
data = shuffle(data)
data = data.dropna()

In [14]:
data = data[['sepal.length', 'sepal.width','petal.length','petal.width','variety']]
X = data.iloc[:, :-1].values
y = data.iloc[:, 4].values

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [16]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=9)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=9)

In [17]:
y_pred = classifier.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score
print('accuracy score is: '+str(accuracy_score(y_test, y_pred)))

accuracy score is: 0.9666666666666667