In [1]:
path = "data.csv"
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(path, encoding = "utf-8")
data.head()

,Date,Total Solids,SS,BOD5,NH3,Org-N,P-TOT,SO4,TKN,PRCP_NOOA
0,01/01/2001,984.0,170.0,173,15.93,14.0,4.58,72,29.97,0.0
1,02/01/2001,924.0,122.0,174,15.52,14.4,4.52,72,29.96,0.0
2,03/01/2001,1135.0,300.0,303,14.19,21.9,6.06,,36.11,0.0
3,04/01/2001,1013.0,192.0,228,15.43,19.4,5.33,,34.83,0.0
4,05/01/2001,1088.0,226.0,210,14.77,19.3,5.41,,34.06,0.0

In [3]:
data.drop(['Date'], axis=1, inplace=True)

In [4]:
data = data.apply(lambda x: pd.Series(x.dropna().values)).fillna(' ')

In [5]:
data.head()

  Total Solids     SS BOD5    NH3 Org-N P-TOT    SO4    TKN  PRCP_NOOA
0        984.0  170.0  173  15.93  14.0  4.58     72  29.97        0.0
1        924.0  122.0  174  15.52  14.4  4.52     72  29.96        0.0
2       1135.0  300.0  303  14.19  21.9  6.06         36.11        0.0
3       1013.0  192.0  228  15.43  19.4  5.33         34.83        0.0
4       1088.0  226.0  210  14.77  19.3  5.41         34.06        0.0

In [6]:
data.isnull().sum()

Total Solids    0
SS              0
BOD5            0
NH3             0
Org-N           0
P-TOT           0
SO4             0
TKN             0
PRCP_NOOA       0
dtype: int64

In [7]:
len(data)

6574

In [8]:
data.dropna(inplace=True)

In [9]:
len(data)

6574

In [10]:
cols = data.columns

for col in data.columns:
    for i in data.index:
        x = data.loc[i, col]
        try:
            data.loc[i, col] = float(x)
        except:
            data.loc[i, col] = None

In [11]:
data.isnull().sum()

Total Solids       7
SS                10
BOD5             188
NH3                9
Org-N              9
P-TOT              8
SO4             5635
TKN                7
PRCP_NOOA          0
dtype: int64

In [12]:
data.drop(['SO4'], axis=1, inplace=True)

In [13]:
data.dropna(inplace=True)

In [14]:
len(data)

6384

In [15]:
data['BOD5'].tail()

6383    157.0
6384     94.0
6385     83.0
6386    100.0
6387     61.0
Name: BOD5, dtype: object

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

def getBestFeatures(X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
    rf = RandomForestRegressor(n_estimators=25, random_state=1, n_jobs=-1)
    
    rf.fit(X_train, y_train)
    
    y_pred = rf.predict(X_test)
    
    print(f"r2_score = {r2_score(y_test, y_pred)}")
    print(f"mean squared error = {mean_squared_error(y_test, y_pred)}")
    
    importances = rf.feature_importances_
    sorted_indices = np.argsort(importances)[::-1]
    feat_labels = data.columns[1:]
    print("Best features")
    for f in range(X_train.shape[1]):
        print("%2d) %-*s %f" % (f + 1, 30,
                            feat_labels[sorted_indices[f]],
                            importances[sorted_indices[f]]))

## y = BOD5

In [17]:
X = data.drop(['BOD5'], axis=1)
y = data['BOD5']

getBestFeatures(X, y)

r2_score = -0.10069420653204042
mean squared error = 4223.108997963978
Best features
 1) P-TOT                          0.220051
 2) BOD5                           0.188117
 3) Org-N                          0.150927
 4) NH3                            0.145120
 5) SS                             0.141648
 6) TKN                            0.097359
 7) PRCP_NOOA                      0.056777

In [18]:
X = data.drop(['TKN'], axis=1)
y = data['TKN']

getBestFeatures(X, y)

r2_score = 0.9797688756842433
mean squared error = 1.2942086715740018
Best features
 1) Org-N                          0.613328
 2) P-TOT                          0.377100
 3) SS                             0.004998
 4) PRCP_NOOA                      0.002253
 5) NH3                            0.000931
 6) TKN                            0.000837
 7) BOD5                           0.000553